* {
  box-sizing: border-box;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  font-size: 15px;
}

.body{
  background-color: rgb(232, 209, 232);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98%;
  width: 98%;
}

.card{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 90%;
  width: 50%;
  background-color: rgb(52, 42, 52);
  padding: 30px;
}

.informacion{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.card-header img{
  width: 150px;
  height: 150px;
}

.card-header label {
  height: 20%;
}

.card-header{
  background-color: rgb(105, 18, 204);
  width: 70%;
  height: 100%;
}


.card-body {
  background-color: rgb(159, 120, 159);
  width: 70%;
  height: 100%;
}

.btnCalcular{
  width: 100%;
  height: 40px;
  margin-top: 20px;
  cursor: pointer;
  background-color: purple;
  border: none;
  outline: none;
  text-transform: uppercase;
  color: white;
}

.btnCalcular:hover {
  background-color: rgb(149, 1, 149);
  transition: all ease 0.4s;
}

.card-body {
  padding: 30px;
}

.informacion input {
  width: 80%;
  height: 35px;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  border: none;
  margin-bottom: 20px;
  color: black;
  font-weight: 700;
}

.imgRounded{
  border-radius: 50%;
}

.imgElipse{
  border-radius: 25%;
}
